body {
  margin: 0;
  font-family: 'Pacifico', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
  min-width: 320px;
  box-sizing: border-box; 
  max-width: 100vw;
  
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff; 
  position: relative;
}
img, iframe, video, .wide-element {
  max-width: 100%;
  height: auto; 
}


.navLogo {
  height: 80px; 
}

Hamburger menu styling
.hamburger {
  display: none; 
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-right: 20px;
}

.hamburger-line {
  width: 30px;
  height: 3px;
  background-color: #78866B; 
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

nav li {
  padding: 10px 0;
}

nav li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease, font-size 0.3s ease;
}
nav li a:hover {
  color: #78866B; 
}

@media (max-width: 768px) {
  .element {
    padding: 0 15px;
  }
  .wide-element {
    width: auto; 
  }
}



@media (max-width: 768px) {
 
  .hamburger {
    display: flex;
  }

 
  nav {
    display: none;
    position: absolute;
    right: 0;
    top: 60px; 
    background-color: #fff;
    width: 100%; 
    text-align: right;
    padding: 20px;
    z-index: 100;
  }

 
  .nav-active {
    display: block;
  }

 
  nav ul {
    flex-direction: column;
    align-items: flex-end;
  }

  nav li {
    margin-bottom: 10px;
  }
}


.webTitle, .webTitle:visited, .webTitle:hover, .webTitle:active {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from the parent, if desirable */
}


.content-container {
  position: relative;
  width: 100%; /* This keeps the container spanning full width */
  height: 80vh; /* Example height: 50% of the viewport height, adjust as needed */
  overflow: hidden; /* Ensures the image does not exceed the container's bounds */
  text-align: center;
  display: flex;
}

.HomePageImage {
  width: 100%; /* Ensures the image spans the full width of its container */
  height: 100%; /* Make the image cover the height of the container */
  object-fit: cover; /* Ensures the image covers the container without distorting aspect ratio */
  object-position: center; /* Adjusts the position of the image within the container to focus on the center */
  background: rgba(0, 0, 0, 0.2); 
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 20px;
  text-align: center;
  
}
.text-overlay h1 {
  font-size: 11vh; /* Adjusts size based on the viewport */
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.2; /* Adjust based on your design */
}

.text-overlay h2 {
  font-size: 1.5vw; /* Maintains a proportional relationship to h1 */
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.2; /* Adjust based on your design */
}


/* Adjust for tablets */
@media (max-width: 768px) {
  .text-overlay h1 {
    font-size: 3.5rem; /* Smaller size for mobile */
    margin: 0;
      padding: 500; /* Reset or adjust as necessary */
  }
  @media (max-width: 768px) {
    .text-overlay h2 {
      font-size: 1rem;
      margin: 0;
      padding: 500; /* Reset or adjust as necessary */
    }
  }

}
  
@media (max-width: 1024px) {
  .text-overlay h2 {
    font-size: 1.5rem; /* Larger for devices with high DPI screens */
  }
}


  /* Additional mobile-specific styles here */
  /* Example: Adjust padding or margins for smaller screens */
  .text-overlay {
    padding: 0 15px;
  }

@media (max-width: 375px) {
  .text-overlay h1 {
    font-size: 3rem; /* Adjust font size */
  }}
  @media (max-width: 375px) {
    .text-overlay h2 {
      font-size: 1rem; /* Adjust font size */
    }}
    @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 834px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .text-overlay h1 {
      font-size: 3.5rem; /* Smaller for iPad Air & 11" iPad Pro in portrait */
    }

    .text-overlay h2 {
      font-size: 1.25rem;
    }
}

/* Adjustments for 12.9-inch iPad Pro (Portrait) */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .text-overlay h1 {
      font-size: 4rem; /* Adjust for 12.9" iPad Pro in portrait */
    }

    
}


@media (max-width: 768px) {
  .content-container{
    text-align: center;
  }
  .text-overlay {
    padding: 20% 0; /* Increase padding for smaller screens */
  }
  
  /* Adjust text size for smaller screens if necessary */
  .text-overlay h1 {
    font-size: 50px; /* Adjust as needed */
    margin-top: 160px;
  }
}

/* Continue with the rest of your CSS */


.button-link {
  background-color: #fff; /* Button background */
  color: #000; /* Button text color */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px; /* Optional: rounded corners for the button */
  margin-top: 20px; /* Space above the button */
}


.button-container {
  text-align: center;
}

.button-link {
  display: inline-block;
  background-color: #9CAD86;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
  transition: background-color 0.5s ease ;
  font-weight: 600;
}
@media (max-width: 768px) {
  .button-link {
    padding: 8px 16px; /* Slightly smaller padding */
    font-size: 0.9rem; /* Smaller font size */
  }
}

/* Adjustments for smaller mobile devices */
@media (max-width: 480px) {
  .button-link {
    padding: 6px 12px; /* Even smaller padding for small devices */
    font-size: 0.8rem; /* Further reduce font size for small screens */
  }
}




.button-link:hover {
  background-color: #78866B;
}

.split-section {
  display: flex;
  margin-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  
}

.left-side, .right-side {
  flex: 1;
   /* Apply consistent padding to both sides */
  box-sizing: border-box; /* Include padding in the width calculation */
}
.left-side img, .HomePageImage {
  max-width: 100%;
  display: block;
}

.right-side {
  padding-left: 20px;
  padding: 20px;
  background-color: rgba(156, 173, 134, 0.1); /* More transparent */
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
  .navTitle, nav ul li a {
    font-size: 1.8rem; /* Adjust font sizes for smaller screens */
  }

  .text-overlay, .split-section {
    width: auto; /* Allow text overlay and split section to adjust to screen size */
    padding: 10px; /* Reduce padding on smaller screens */
    top: auto; /* Adjust text overlay positioning */
    bottom: 20px; /* Move text overlay towards the bottom on smaller screens */
  }

  .split-section {
    flex-direction: column; /* Stack split sections vertically on smaller screens */
    max-width: 1200px; /* Example max-width, adjust as necessary */
    width: 100%;
    margin: 0 auto; /* Centers the containers */
    padding: 0 20px; /* Apply consistent side paddings */
    box-sizing: border-box; /* Includes padding in the width calculation */
  }
}
.site-footer {
  display: flex;
  justify-content: space-around;
  padding: 80px 10%;
  background-color: white;
  align-items: center;
}

.footer-email, .footer-instagram {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.footer-email a:hover, .footer-instagram a:hover {
  color: #9CAD86; 
}

.footer-email a, .footer-instagram a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease, font-size 0.3s ease;
}


@media (max-width: 768px) {
  .site-footer {
    flex-direction: column; 
    padding: 40px 20px; 
  }

  .footer-email, .footer-instagram {
    justify-content: center; 
    font-size: 20px; 
  }
}


.instagram-logo {
  width: 50px; 
  height: 50px; 
  align-self: center; 
}


.about-content-container {
  display: flex;
  flex-direction: row; /* Default layout for larger screens */
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.about-image-container {
  flex-basis: 50%;
  padding: 20px;
}

.about-page-image {
  max-width: 100%;
  height: auto;
  margin-top: -80px;
}

.about-text-container {
  flex-basis: 50%;
  padding: 20px;
}

.about-text-container h1 {
  font-weight: 350;
  font-size: 60px; /* Consider using clamp for responsiveness */
  color: #78866B;
  text-align: center;
}

.about-text-container h2 {
  font-weight: 400;
  font-size: 40px; /* Consider using clamp for responsiveness */
}

.about-text-container h3 {
  font-weight: 200;
  font-size: 30px; /* Consider using clamp for responsiveness */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .about-content-container {
    flex-direction: column;
    padding-top: 100px; /* Slightly reduce top padding on smaller screens */
    align-items: center; /* Ensure centered alignment when stacked */
  }

  .about-image-container, .about-text-container {
    flex-basis: auto; /* Allow containers to adjust based on content */
    padding: 10px; /* Adjust padding for smaller screens */
    text-align: center; /* Center-align the text for mobile */
  }

  /* Responsive font sizing using clamp */
  .about-text-container h1 {
    font-size: clamp(2rem, 8vw, 3.25rem); /* Adjusts dynamically */
  }

  .about-text-container h2 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
  }

  .about-text-container h3 {
    font-size: clamp(1.25rem, 5vw, 2rem);
  }
}

.pricing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding-top: 30px;
 
}

.pricing-header h1 {
  margin: 0;
  font-size: 45px; /* More responsive font size */
  color: #78866B;
  font-weight: 350;
  
 
}

.pricing-header p {
  font-size: 1.2rem; /* Adjusted for readability on smaller screens */
  margin-bottom: 40px;
}

.pricing-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.pricing-photo-container {
  width: calc(33.333% - 20px); /* Adjusts to 3 items per row for larger screens */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px; /* Adds spacing between items */
}

.pricing-photo {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
}

.pricing-photo-text {
  margin-top: 20px; /* Adjusted spacing */
}

/* Responsive adjustments for very small screens */
@media (max-width: 768px) {
  .pricing-photo-container {
    width: 100%; /* Single column layout */
  }
}
@media (max-width: 768px) {
  .pricing-photo {
    height: 200px; /* Optional: adjust height for smaller screens if 300px is too tall */
  }
}

@media (max-width: 480px) {
  .pricing-photo-container {
    width: 100%; /* Full width on very small screens */
  }

  .pricing-photo {
    height: 200px; /* Further adjusted height for very small screens */
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px; /* Adjusted padding for better responsiveness */
  font-weight: 400;
  margin-top: -30px;
 
}

.contact-container h1 {
  font-size: 45px;
  color: #78866B;
  font-weight: 350;
}

.contact-container h3 {
  text-align: center;
  width: 80%; /* Adjusted width for better text alignment */
  margin-top: 0;
  margin-bottom: 30px; /* Adjusted spacing before the form starts */
  font-weight: 300;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px; /* Ensures form doesn't stretch too wide on larger screens */
  width: 100%;
  margin-top: 20px; /* Added space between text and form */
}

.contact-form label {
  font-weight: 300;
  margin-bottom: 5px;
  text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="date"],
.contact-form input[type="url"],
.contact-form textarea {
  padding: 10px 15px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: inset 0 0 0 1px #ddd;
  font-family: 'Pacifico', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #9CAD86; /* Focus state */
}

.submit-button {
  display: inline-block;
  background-color: #9CAD86;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
  transition: background-color 0.5s ease ;
  font-weight: 600;
}

.submit-button:hover {
  background-color: #78866B;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .contact-container {
    padding: 50px 20px; /* Reduced padding for smaller devices */
  }

  .contact-container h1 {
    font-size: 35px; /* Smaller font size for compact appearance */
  }

  .contact-container h3 {
    font-size: 1.2rem; /* Adjusted font size for readability */
    width: 90%; /* Allows the text to breathe on smaller screens */
  }
}


.portfolio-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 200px 175px 30px; /* Adjust padding as needed */
  margin-top: -150px;
  
}

.portfolio-header h1 {
  margin: 0;
  font-size: 45px;
  color: #78866B;
  font-weight: 350;
}

.portfolio-header p {
  font-size: 1.4rem;
  margin-bottom: 50px; /* Provides space between the header and the grid */
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust based on your preference */
  gap: 20px; /* Space between items */
  width: 100%;
  padding: 0 50px; /* Adjust padding to ensure grid does not touch screen edges */
  
}

.portfolio-image {
  width: 100%; /* Ensures images are fully responsive within their grid item */
  height: auto; /* Maintains aspect ratio */
  transition: transform 0.3s ease; /* Optional: Adds a zoom effect on hover */
}

.portfolio-image:hover {
  transform: scale(1.03); /* Optional: Zoom effect on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .portfolio-page-container {
    padding: 100px 0px; /* Reduced padding for smaller screens */
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr); /* Adjusts to 2 columns for tablets and large phones */
  }
}

@media (max-width: 480px) {
  .portfolio-container {
    grid-template-columns: 1fr; /* Single column layout for small devices */
    padding: 0 10px; /* Adjust padding for very small screens */
  }

  .portfolio-header h1 {
    font-size: 2.5rem; /* Smaller font size for small devices */
    margin-top: 60px;
  }

  .portfolio-header p {
    font-size: 1.2rem; /* Smaller font size for the description */
  }
}


.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  gap: 4px; /* Space between lines */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
}

.hamburger-line {
  width: 25px; /* Width of the hamburger lines */
  height: 3px; /* Height of the hamburger lines */
  background-color: #333; /* Color of the hamburger lines */
}

/* Show the hamburger menu in mobile view */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  nav {
    display: none;
  }

  .nav-active {
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}


.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  padding: 50px;
}
.testimonials-header h1 {
  margin: 0;
  font-size: 45px; /* Adjusted for mobile */
  color: #78866B;
  font-weight: 350; /* Made the weight heavier for consistency */
}

.testimonials-header p {
  font-size: 1rem; /* Adjusted for mobile */
  margin-bottom: 20px; /* Reduced bottom margin */
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align testimonials */
  width: 100%;
  gap: 20px;
}

.testimonial-item {
  background-color: #f0f0f0;
  border-left: 5px solid #78866B;
  padding: 15px; /* Adjusted padding for more space */
  text-align: center; /* Centered text */
  width: 90%; /* Utilize more screen width */
  margin: 0 auto; /* Center the item */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: added a subtle shadow */
}

.client-name {
  text-align: center; /* Centered client name */
  margin-top: 10px;
  font-weight: 600; /* Adjusted for visibility */
}

/* Responsive adjustments for very small screens */
@media (max-width: 480px) {
  .testimonials-container {
    padding: 50px 15px; /* Reduced padding for tighter layout */
  }

  .testimonial-item {
    padding: 10px; /* Reduced padding inside testimonial items */
    font-size: 0.9rem; /* Smaller font size for content */
  }
}


