body {
  margin: 0;
  font-family: 'Pacifico', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
  min-width: 320px;
  box-sizing: border-box; 
  max-width: 100vw;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed; /* Changed from 'relative' to 'fixed' */
  width: 100%; /* Ensures it spans the full width */
  top: 0; /* Aligns the header at the top */
  z-index: 1000; /* Ensures the header stays above other content */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a shadow for better visibility over the page content */
}

:target::before {
  content: "";
  display: block;
  height: 100px;  /* Adjust this if your header height changes */
  margin-top: -100px; /* Negative margin equal to the height */
}

img, iframe, video, .wide-element {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.navLogo {
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

/* Hamburger menu styling */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-right: 20px;
  position: absolute; /* Position it absolutely within the header */
  right: 20px; /* Adjust this value if it's too far to the right */
  top: 50%; /* Center it vertically */
  transform: translateY(-50%);
}

.hamburger-line {
  width: 30px;
  height: 3px;
  background-color: #78866B;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

nav li {
  cursor: pointer;
}

nav li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease, font-size 0.3s ease;
}

nav li a:hover {
  color: #78866B;
}

@media (max-width: 768px) {
  .element {
    padding: 0 15px;
  }
  .wide-element {
    width: auto;
  }

  .hamburger {
    display: flex;
  }

  nav {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fff;
    width: 100%;
    text-align: right;
    padding: 20px;
    z-index: 100;
  }

  .nav-active {
    display: block;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-end;
  }

  nav li {
    margin-bottom: 10px;
  }
}

.webTitle, .webTitle:visited, .webTitle:hover, .webTitle:active {
  text-decoration: none;
  color: inherit;
}


.content-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.HomePageImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background: rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
  .navTitle, nav ul li a {
    font-size: 1.8rem; /* Adjust font sizes for smaller screens */
  }
}
.site-footer {
  display: flex;
  justify-content: space-around;
  padding: 80px 10%;
  background-color: white;
  align-items: center;
}

.footer-email, .footer-instagram {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.footer-email a:hover, .footer-instagram a:hover {
  color: #9CAD86; 
}

.footer-email a, .footer-instagram a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease, font-size 0.3s ease;
}


@media (max-width: 768px) {
  .site-footer {
    flex-direction: column; 
    padding: 40px 20px; 
  }

  .footer-email, .footer-instagram {
    justify-content: center; 
    font-size: 20px; 
  }
}


.instagram-logo {
  width: 50px; 
  height: 50px; 
  align-self: center; 
}


/* General desktop styles */
.about-content-container {
  display: flex;
  flex-direction: row; /* Default layout for larger screens */
  align-items: center; /* Center vertically */
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}

.about-image-container {
  flex-basis: 50%; /* Half of the screen width */
  padding: 20px;
  height: 600px; /* Fixed height */
  overflow: hidden; /* Cut off any content that overflows the container */
}

.about-page-image {
  width: 100%; /* Maintain full width */
  height: 100%; /* Maintain full height */
  object-fit: cover; /* Ensures image covers the container while maintaining aspect ratio */
}

.about-text-container {
  flex-basis: 50%; /* Half of the screen width */
  padding: 20px;
  height: 600px; /* Fixed height to match the image container */
  overflow: auto; /* Allows scrolling within the container if content overflows */
}

.about-text-container h1, .about-text-container h2, .about-text-container h3 {
  text-align: center; /* Consistent alignment for titles */
}
.about-text-container h1 {
  font-weight: 350;
  font-size: clamp(2rem, 4.5vw, 2.7rem); /* Smaller dynamic adjustment */
  color: #78866B;
}
.about-text-container h2 {
  font-weight: 400;
  font-size: clamp(1.6rem, 3.6vw, 1.9rem); /* Smaller dynamic adjustment */
}
.about-text-container h3 {
  font-weight: 200;
  font-size: clamp(1.2rem, 2.7vw, 1.4rem); /* Smaller dynamic adjustment */
}

/* Adjustments for mobile */
@media (max-width: 768px) {
  .about-content-container {
    flex-direction: column;
    align-items: center; /* Ensure centered alignment when stacked */
    padding-top: 20px; /* Adjusted for better spacing */
  }
  .about-image-container {
    flex-basis: 100%; /* Full width on mobile */
    padding: 15px; /* Slightly larger padding for better spacing */
    text-align: center; /* Center-align the image for mobile */
    height: 600px; /* Ensure fixed height */
    order: 2; /* The image will be below the text */
  }
  .about-text-container {
    flex-basis: 100%; /* Full width on mobile */
    padding: 15px; /* Slightly larger padding for better spacing */
    text-align: center; /* Center-align the text for mobile */
    height: 600px; /* Ensure fixed height */
    order: 1; /* The text will be above the image */
  }
}




.pricing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding-top: 40px;
}

.pricing-header h1 {
  margin-top: 20;
  font-size: 45px; /* Consider using vw or clamp for scalability */
  color: #78866B;
  font-weight: 350;
}

.pricing-header p {
  font-size: 1.3rem; /* This is fine, but consider using em for scalability */
  margin-bottom: 40px;
}

.pricing-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.pricing-photo-container {
  width: calc(33.333% - 20px); /* Good for larger screens, but consider more breakpoints */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.pricing-photo {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
}

.pricing-photo-text {
  margin-top: 20px;
}

/* Adjust for medium screens - Single column layout */
@media (max-width: 768px) {
  .pricing-photo-container {
    width: 100%; /* Adjust to 100% for better use of space */
  }
}

/* Adjustments for small screens */
@media (max-width: 480px) {
  .pricing-header h1 {
    font-size: clamp(2rem, 5vw, 2.5rem); /* Use clamp for dynamic scaling */
  }

  .pricing-header p {
    font-size: clamp(1rem, 2.5vw, 1.2rem); /* Dynamic scaling for readability */
  }
  
  .pricing-photo-container {
    width: 100%; /* Ensure full width usage on very small screens */
  }

  .pricing-photo {
    height: auto; /* Consider auto to maintain aspect ratio */
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px; /* Good initial padding */
  font-weight: 400;
}

.contact-container h1 {
  font-size: clamp(2rem, 5vw, 45px); /* Responsive font size using clamp */
  color: #78866B;
  font-weight: 350;
  margin-bottom: 20px;
  margin-top: 50px;
}

.contact-container h3 {
  text-align: center;
  width: 80%; /* Good for larger screens, might want to adjust for very small screens */
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px; /* Consider using percentage for smaller screens */
  width: 100%;
  margin-top: 20px;
}

/* Adjust form input and textarea styles for better accessibility */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form input[type="date"],
.contact-form input[type="url"],
.contact-form textarea {
  padding: 10px 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd; /* Adjusted for consistency */
  border-radius: 4px;
  font-size: 16px; /* Good for readability */
  font-family: inherit; /* Ensures font consistency across all form elements */
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #9CAD86; /* Enhances focus state for accessibility */
}




/* Additional responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .contact-container {
    padding: 30px 15px; /* Slightly reduce padding for a tighter layout */
  }

  .contact-container h1, .contact-container h3 {
    width: 90%; /* Increase width to allow text more room */
    text-align: center;
  }

  .contact-form {
    max-width: 100%; /* Allow the form to use full available width */
  }
}



.portfolio-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px 50px 30px; /* Optimized padding for all screen sizes */
  margin-top: 0; /* Adjusted to remove negative margin */
  
}

.portfolio-header h1 {
  margin: 0;
  font-size: clamp(2.5rem, 5vw, 45px); /* Responsive font size using clamp */
  color: #78866B;
  font-weight: 350;
  margin-top: 30px;
}

.portfolio-header p {
  font-size: clamp(1rem, 2.5vw, 1.4rem); /* Responsive font size for description */
  margin-bottom: 20px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
  gap: 20px;
  width: 100%;
  padding: 0 20px; /* Adjusted padding for consistency */
}

.portfolio-image {
  width: 700px;  /* Fixed width for all images */
  height: 700px; /* Fixed height for all images */
  object-fit: cover; /* Ensures the image covers the set dimensions without stretching */
  display: block; /* Ensures the image is properly aligned */
  margin: auto; /* Centers the image within its container */
  
}

/* .portfolio-image:hover {
  transform: scale(1.03);
} */

/* Responsive adjustments for medium screens */
@media (max-width: 768px) {
  .portfolio-page-container {
    padding: 50px 20px; /* Reduced padding for medium screens */
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
  }
}

/* Responsive adjustments for small screens */
@media (max-width: 480px) {
  .portfolio-page-container {
    padding: 30px 10px; /* Further reduced padding for small screens */
  }

  .portfolio-container {
    grid-template-columns: 1fr; /* Single column layout for small devices */
  }

  .portfolio-header h1 {
    font-size: clamp(2rem, 8vw, 2.5rem); /* Smaller, dynamic font size */
  }

  .portfolio-header p {
    font-size: clamp(1rem, 5vw, 1.2rem); /* Smaller, dynamic font size for description */
  }
}


.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  gap: 4px; /* Space between lines */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
}

.hamburger-line {
  width: 25px; /* Width of the hamburger lines */
  height: 3px; /* Height of the hamburger lines */
  background-color: #333; /* Color of the hamburger lines */
}

/* Show the hamburger menu in mobile view */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  nav {
    display: none;
  }

  .nav-active {
    display: block;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}
.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #9CAD86; /* Green background for the whole container */
  padding-top: 50px;
  padding-left: 15px; /* Consistent padding on all sides */
  padding-right: 15px;
  width: 100%;
  box-sizing: border-box; /* Includes padding in the width calculation */
  color: white; /* White text for the entire container */
}

.testimonials-header h1 {
  font-size: clamp(2rem, 5vw, 45px);
  margin-top: 50px;
}

.testimonials-header p {
  font-size: clamp(0.9rem, 2.5vw, 1.5rem);
  margin-bottom: 20px;
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.testimonial-item {
  background-color: transparent; /* No background color, inherits from the container */
  border-left: 5px solid #78866B; /* Stylish border on the left */
  padding: 15px;
  text-align: center;
  width: 100%; /* Ensures full width within container */
  max-width: 100%;
  box-sizing: border-box; /* Important for correct width calculation */
  margin: 0 auto 20px;
  font-size: 1.5rem; /* Suitable font size for readability */
  color: white; /* Ensures text is white */
}

.client-name {
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .testimonial-item {
    padding: 10px; /* Adjusted padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .testimonials-container {
    padding: 15px; /* Uniform padding for very small screens */
  }
}

.button-link {
  background-color: #9CAD86; /* Button background */
  color: white; /* Button text color */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px; /* Optional: rounded corners for the button */
  margin-top: 20px; /* Space above the button */
  display: inline-block; /* Ensures the link behaves like a button */
  font-weight: bold; /* Bold font for better visibility */
}

.portfolio-button{
  background-color: #fff; /* Button background */
  color: #000; /* Button text color */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px; /* Optional: rounded corners for the button */
  margin-top: 20px; /* Space above the button */
}
.portfolio-button{
  display: inline-block;
  background-color: #9CAD86;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  transition: background-color 0.5s ease ;
  font-weight: 600;
}
.testimonials-button{
  background-color: #9CAD86; /* Button background */
  color: #000; /* Button text color */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px; /* Optional: rounded corners for the button */
  margin-top: 20px; /* Space above the button */
}
.testimonials-button{
  display: inline-block;
  background-color: white;
  color: #9CAD86;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  transition: background-color 0.5s ease ;
  font-weight: 600;
}

.testimonials-button:hover {
  background-color: #78866B;
}
.portfolio-button:hover {
  background-color: #78866B;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #9CAD86;
  color: white;
  font-weight: 600;
  transition: background-color 0.5s ease;
}

.submit-button:hover {
  background-color: #78866B;
}

:target::before {
  content: "";
  display: block;
  height: 100px; /* Adjust this value to match your header height */
  margin-top: -100px; /* This should be the negative value of the height */
}
@media (max-width: 768px) {
  :target::before {
    height: 60px; /* Example: smaller header height on smaller screens */
    margin-top: -60px; /* Negative value of the adjusted height */
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}



.hamburger {
  padding-right: 20px; /* Ensure this padding isn't causing the element to shift too far */
}

.split-section {
  padding-left: 80px;
  padding-right: 80px; /* Check if this padding is too much on smaller screens */
}



.content-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.HomePageImage {
  width: 100%;
  height: auto;
  position: relative; /* Adjust positioning as needed */
  display: block; /* Remove any extra space below the image */
}

.OverlayImage {
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;  /* Default settings for desktop */
  height: 100vh; /* Default settings for desktop */
  object-fit: cover; /* Ensures image covers the area */
  transition: all 0.3s ease; /* Smooth transition for debugging */
}

@media (max-width: 768px) {
  .OverlayImage {
    width: 100vw;  /* Matches the viewport width exactly */
    height: auto;  /* Adjusts the height automatically to maintain the image's aspect ratio */
    object-fit: contain;  /* Ensures the entire logo is visible */
    left: 50%;  /* Centers the image horizontally */
    top: 50%;  /* Centers the image vertically */
    transform: translate(-50%, -50%) scale(1.5);  /* Adjusts the position and scales up the image */
    transition: all 0.3s ease;  /* Smooth transitions for debugging visual changes */
  }
}





